@using ClubManagement.Domain.Entities
@model List<Examination>

<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">لیست معاینه ها</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">داشبورد</a></li>
                    <li class="breadcrumb-item active">معاینه ها</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="datatable table table-hover table-center mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">نام مشتری</th>
                                    <th scope="col">شماره ویزیت  </th>
                                    <th scope="col">تاریخ   </th>
                                    <th scope="col">پزشک </th>
                                    <th scope="col">شعبه </th>
                                    <th scope="col"> عملیات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <tr>
                                        <td>@(i + 1)</td>
                                        <td>@string.Join(" ", [Model[i].Referred.Name, Model[i].Referred.Family])</td>
                                        <td>@Model[i].VisitNumber</td>
                                        <td>@Model[i].Date</td>
                                        <td>@string.Join(" ", [Model[i].User.Name, Model[i].User.Family])@Model[i].User.Name</td>
                                        <td>@Model[i].Branch.Name</td>
                                        <td>
                                            <a asp-controller="Examination" asp-action="Delete" asp-route-ExaminationId="@Model[i].Id" class="btn btn-danger mx-2"><i class="fe fe-trash"></i></a>
                                            <a asp-controller="Examination" asp-action="Update" asp-route-ExaminationId="@Model[i].Id" class="btn btn-warning mx-2"><i class="fe fe-pencil"></i></a>
                                            <a asp-controller="CorrectionalProgram" asp-action="CreateMaster" asp-route-ExaminationId="@Model[i].Id" class="btn btn-success mx-2">ثبت برنامه اصلاحی</a>
                                            <a asp-controller="CorrectionalProgram" asp-action="EditMaster" asp-route-ExaminationId="@Model[i].Id" class="btn btn-success mx-2">ویرایش برنامه اصلاحی</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- /Page Wrapper -->
